django
django-crispy-forms
django-cleanup
pillow
django-ckeditor
channels
django-allauth
django-braces
mkdocs
mkdocs-awesome-pages-plugin
mkdocs-material
django-debug-toolbar
notebook
django-extensions
crispy-bootstrap5
django-taggit
pytest-django
pylint

python-dotenv
dj_database_url
whitenoise
pytils
cloudinary