<form action="{% url 'comment-like' %}" method="POST">
    {% csrf_token %}

    {% if user.is_authenticated %}
        {% if liked %}
            <button id="like-comment" type="submit" name="comment_id" value="{{ comment.id }}" class="btn btnhrt fs-4"><i class="fas fa-heart"></i></button>
        {% else %}
            <button id="like-comment" type="submit" name="comment_id" value="{{ comment.id }}" class="btn btnhrt fs-4"><i class="far fa-heart"></i></button>
        {% endif %}
    {% else %}
        <small>Login to like</small>
    {% endif %}
    {{ total_likes }} Like{{ total_likes|pluralize }}
</form>