{% extends 'blog/base.html' %}
{%block title%}

{% if post%}
{{post.title}}
{% else %}
Все посты пользователя.
{% endif%}

{%endblock%}

{% block content_blog %}

{% if blog_post_user_list %}
{% for post in blog_post_user_list %}

<div class="row">
    <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
        <div class="intro">
            <h1 class="text-center" data-bss-hover-animate="pulse">
                {#{{post.title}}#}
                <h3 class="text-center"><a href="{% url 'post-detail' post.slug post.pk %}"
                        class="link-danger text-decoration-none">{{ post.title}}
                        </a></h3>
            </h1>
            <p class="text-center">
                <span class="text-center">{{post.content|safe }}</span> <br>
                <span class="by">Author:</span> <a href="#">{{post.author}}</a>&nbsp;&nbsp;<br>
                <span class="date">| {{post.data_create|date:"F d Y"}} |</span>
                <hr>
            </p>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-center">Пока записей нет.</p>
        {% endif %}
        <div class="text">
            <figure class="figure d-block"></figure>
        </div>
    </div>
</div>

{%endblock%}